@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/PPNeueMontreal-Medium.otf') format('truetype');
    font-weight: 400;
  }
  @font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/PPNeueMontreal-Book.otf') format('truetype');
    font-weight: 300;
  }
  @font-face {
    font-family: 'Timmons';
    src: url('/fonts/TIMMONS-NY.woff2.ttf') format('truetype');
  }
  body{
    font-family: 'Neue Montreal', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 1.2rem;
  }
}

